
<h1 class="mainpage-question">{{question}}</h1>

<h3 class="mainpage-question">{{vote}} vote</h3>


<div class="progress  " style="height: 30px;">
    {{!-- thanh vote truyen vao cac bien ty answerPageRouter --}}
    <div class="progress-bar bg-danger" style="width: {{percentNo}}">  
        <h6>{{no}} No</h6>
    </div>
    <div class="progress-bar bg-primary" style="width: {{percentYes}}">
        <h6>{{yes}} Yes</h6>
    </div>

</div>

<div class=" mainpage-question">
    <a class="btn btn-success"  href="http://127.0.0.1:5000">Cau hoi khac di cac ban tre oi</a>
 
</div>
